@import '../../styles/colors.module';
@import '../../styles//mixins.module';

.header{

    height: 60px;

    &__wrapper{

        position: relative;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__list{

            display: flex;
            flex-direction: row;
            list-style-type: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            padding: 0px;
            cursor: pointer;
            color: $blueHeader;
    
            &_element{
    
                margin: 0px 30px;
                transition: .5s all;
    
            }
    
            &_element:first-child{
                margin-left: 0px;
            }
    
            &_element:hover{
                color: $blueButton;
            }
        }
    
        &_logo{
            @include logo;
        }
    }
}